[user]
	name = Jonathan Sternberg
	email = jonathansternberg@gmail.com
[core]
	editor = vim
[color]
	ui = auto
[alias]
	count = !sh -c 'git rev-list --all | wc -l'
	fuckit = reset --hard
	fulldiff = diff -U9999999
	last = log --decorate -1
	logd = log --decorate
	st = status -sb
	stat = status
	tree = log --graph --oneline --decorate
	undo = reset --hard
